@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as mx;

.technologies {
  &__container {
    min-height: 24vh;
  }
  &__title {
    @include mx.heading;
    padding-top: 1rem;
  }
  &__proficient,
  &__learning {
    margin: 0;
    padding: 0.5rem;
  }
}
