/* 
Coolors palette
#0d1b2a primary bg
#1b263b light bg
#415a77 overlay
#778da9
#e0e1dd text
*/
$overlay: #415a77;

$primary-background: #0d1b2a;

$light-background: #1b263b;

$divider: #778da9;

$primary-text: #e0e1dd;